@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
    /* Font/Text */
    --primary-font: 'Open Sans', sans-serif;

    --normal-font-size: 1rem;
    --large-font-size: 2rem;

    --text-color: hsl(0, 0%, 90%);

    /* Colors */
    --accent-color: hsl(37, 100%, 45%);
    --neutral-color: hsl(0, 0%, 70%);

    --background-color: hsl(0, 0%, 20%);

    /* Game Pieces */
    --player-1-piece-color: hsl(15, 70%, 50%);
    --player-1-piece-color-dark: hsl(15, 70%, 30%);

    --player-2-piece-color: hsl(60, 75%, 50%);
    --player-2-piece-color-dark: hsl(60, 70%, 30%);

    --piece-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.5);

    /* Game Board */
    --board-color: hsl(212, 90%, 40%);
    --board-color-light: hsl(212, 90%, 45%);

    /* Spacing */
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 4rem;

    --rounded-corner-sm: 0.25rem;
    --rounded-corner-md: 0.5rem;
    --rounded-corner-lg: 1rem;

    /* Thicknesses */
    --border-sm: 3px;
    --border-md: 5px;
    --border-lg: 10px;
}

body {
    font-family: var(--primary-font);
    font-size: var(--normal-font-size);
    background-color: var(--background-color);
    color: var(--text-color);
}

.title {
    font-size: var(--large-font-size);
    text-align: center;
    margin: var(--spacing-md);
    letter-spacing: 0.2rem;
}

/* Game Board */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--spacing-md);
}
